## **Pranav Singh Mahara**
## **21BBS0188**


---



---


# Assignment - 1

30th August

Link to this file is - https://colab.research.google.com/drive/1OwNz_VG42rCn1R8wVMy08X4a0_wITV7w?usp=sharing

---
---

Task 1 :

Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
import pandas as pd
import numpy as np

random_data = np.random.randn(4, 4)
df = pd.DataFrame(random_data)
print("The created dataframe with random values is : \n")
print(df)

The created dataframe with random values is :

          0         1         2         3
0  0.849600  0.411039  0.235267  0.791052
1  0.939790  1.997100  0.247649  0.442976
2  0.823364 -0.057256 -0.603505 -0.922461
3  2.021204 -1.631057  0.190456  0.363019

Task - 2:

Rename the task - 1 'df dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
print("The dataframe after renaming the columns is : \n")
print(df)

The dataframe after renaming the columns is :

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.849600        0.411039        0.235267        0.791052
1        0.939790        1.997100        0.247649        0.442976
2        0.823364       -0.057256       -0.603505       -0.922461
3        2.021204       -1.631057        0.190456        0.363019

Task 3

Find the descriptive statistics of the 'df' dataframe.

In [ ]:
stats = df.describe()
print("The description of the created dataframe is : \n")
print(stats)

The description of the created dataframe is :

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         1.158489        0.179957        0.017467        0.168646
std          0.577301        1.493480        0.414709        0.750764
min          0.823364       -1.631057       -0.603505       -0.922461
25%          0.843041       -0.450706       -0.008034        0.041649
50%          0.894695        0.176892        0.212862        0.402997
75%          1.210144        0.807555        0.238362        0.529995
max          2.021204        1.997100        0.247649        0.791052

Task 4

Check for the null values in 'df' and find the data type of the columns.

In [ ]:
null_values = df.isnull().values.any()
data_types = df.dtypes
print("Null Values : ",null_values)
print("\nData types :")
print(data_types)

Null Values :  False

Data types :
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

Task - 5

Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [ ]:
display_loc = df.loc[:, 'Random value 2':'Random value 3']
display_iloc = df.iloc[:, 1:3]

print("Displaying columns using loc:")
print(display_loc)
print("\nDisplaying column using iloc:")
print(display_iloc)

Displaying columns using loc:
   Random value 2  Random value 3
0        0.411039        0.235267
1        1.997100        0.247649
2       -0.057256       -0.603505
3       -1.631057        0.190456

Displaying column using iloc:
   Random value 2  Random value 3
0        0.411039        0.235267
1        1.997100        0.247649
2       -0.057256       -0.603505
3       -1.631057        0.190456